*.n
*.php
config.xml
www/plugin/*
Makefile*
tmp/*
*node_modules*
*.map
*.haxelib*
html
.temp
*.tar

*.DS_Store*

lang/master/tpl/plugin/*
backend/lang/*

lang/fr/tpl/*
lang/en/tpl/*
lang/de/tpl/*
lang/es/tpl/*
lang/fr/tmp/*.n
lang/en/tmp/*.n
lang/de/tmp/*.n
lang/es/tmp/*.n

www/lang/*.mo
www/file/*
www/js/*
www/css/.sass-cache
www/css/*.css
www/*.xls
www/*.xlsx
!www/js/libs.dev.js
!www/js/libs.prod.js
!www/js/fetch.umd.js

devLibs/

backend/lang

codes.sh

# ops part
# --------
.terraform/
terraform.tfstate
.terraform.lock.hcl
cagette.tar.bz2
