
# global cagette configuration
export CAGETTE_SQL_LOG=0
export CAGETTE_DEBUG=1
export CAGETTE_CACHETPL=0

# SMTP configuration for cagette-mailer
export CAGETTE_SMTP_HOST=""
export CAGETTE_SMTP_PORT=""
export CAGETTE_SMTP_USER=""
export CAGETTE_SMTP_PASSWORD=""
