<config
	lang="fr"
	langs="fr;de;en"
	langnames="Français;Deutsch;English"

	host="localhost"
	name = "Cagette.net"
	default_email = "contact@cagette.net"
	webmaster_email = "admin@cagette.net"

	database="mysql://user:password@host/db"
	sqllog="1"

	debug="1"
	cache="0"
	maintain="0"
	cachetpl="0"
	key="localdevkey"

	mailer_host="mailer"
	mailer_port="5000"

	smtp_host="smtp.mandrillapp.com"
	smtp_port="587"
	smtp_user="mon_email@mon_domaine.fr"
	smtp_pass="blabla"

	cagette_api="http://localhost:3010"
/>
